<style>
    .demo-avatar {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }

    .demo-avatar-user {
        width: 24px;
        height: 24px;
        border-radius: 12px;
    }

    footerComponent {
        position: bottom;
        bottom: 0;
        width: 100%;
        height: 40px;
    }
</style>
<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-shadow--2dp">
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
            <nav class="mdl-navigation mdl-layout--large-screen-only" id="navLogged" hidden="true">
                <img src="../scripts/assets/logo.jpg" (click)="navigation()" class="demo-avatar mdl-layout-icon">
                <a class="mdl-navigation__link" routerLink="/contracts" routerLinkActive="active">Contratos</a>
                <span>Catalogos:</span>
                <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                    <li class="mdl-menu__item" routerLink="/provider" routerLinkActive="active">
                        Proveedores
                    </li>
                    <li class="mdl-menu__item" routerLink="/client" routerLinkActive="active">
                        Clientes
                    </li>
                    <li class="mdl-menu__item" routerLink="/stretches" routerLinkActive="active">
                        Tramos
                    </li>
                    <li class="mdl-menu__item" routerLink="/routes" routerLinkActive="active">
                        Rutas
                    </li>
                    <li class="mdl-menu__item" routerLink="/products" routerLinkActive="active">
                        Productos
                    </li>
                </ul>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink="/search" routerLinkActive="active">
                    Buscar
                </button>
            </nav>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <div id="loginSection">
                    <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Inicia Sesión</a>
                </div>
                <div id="userSection" class="demo-drawer-header" hidden="true">
                    <img src="../scripts/assets/user.jpg" class="demo-avatar-user">
                    <button id="demo-menu-lower-left2" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left2">
                        <li class="mdl-menu__item" (click)="Logout();">
                            Salir
                        </li>
                    </ul>
                    <span id="username"></span>
                </div>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer" *ngIf="!showFooter">
        <span class="mdl-layout-title">FLAMSA</span>
        <nav class="mdl-navigation">
            <div id="loginSection">
                <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Inicia Sesión</a>
            </div>
            <div id="userSection" class="demo-drawer-header" hidden="true">
                <img src="../scripts/assets/user.jpg" class="demo-avatar-user">
                <button id="demo-menu-lower-left2" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left2">
                    <li class="mdl-menu__item" (click)="Logout();">
                        Salir
                    </li>
                </ul>
            </div>
            <a class="mdl-navigation__link" href="" routerLink="/contracts" routerLinkActive="active">Contratos</a>
            <a class="mdl-navigation__link" href="" routerLink="/provider" routerLinkActive="active">
            Proveedores</a>
            <a class="mdl-navigation__link" href="" routerLink="/client" routerLinkActive="active">
            Clientes</a>
            <a class="mdl-navigation__link" href="" routerLink="/stretches" routerLinkActive="active">
            Tramos</a>
            <a class="mdl-navigation__link" href="" routerLink="/routes" routerLinkActive="active">
            Rutas</a>
            <a class="mdl-navigation__link" href="" routerLink="/products" routerLinkActive="active">
            Productos</a>
        </nav>
    </div>
    <main class="mdl-color--grey-100">
        <router-outlet></router-outlet>
    </main>
    <footerComponent *ngIf="showFooter"></footerComponent>
</div>
