<section>
    <div class="mdl-grid">
        <form [formGroup]="myFormRoute">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="name" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Nombre</label>
            </div>
            <br>
            <div class="mdl-grid mdl-cell--order-2-phone">
                <div class="mdl-cell--6-col-desktop">
                    <div class="mdl-card__title">
                        <p>Tramos de la Ruta</p>
                    </div>
                    <div id="divSelectedRoutes" #divCatalogSelected class="mdl-card__supporting-text"></div>
                </div>
                <div class="mdl-cell--6-col-desktop">
                    <div class="mdl-card__title">
                        <p>Tramos de Catalogo</p>
                    </div>
                    <div id="divSelectedStretches" #divCatalog class="mdl-card__supporting-text" *ngFor="let route of routes">
                        <label #catalog class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" class="mdl-checkbox__input" (click)="selectedCheck(catalog,divCatalogSelected, divCatalog);">
                            <span class="mdl-checkbox__label">{{route.route_name}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="km" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Kilomentros</label>
            </div>
            <div class="button-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
                  mdl-color--red-A700 mdl-color-text--white" routerLink="/home">
                    Cancelar
                </button>
                <button (click)="onSubmit()" [disabled]="myFormRoute.invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
                  mdl-color--light-blue-A700 mdl-color-text--white">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</section>
<span *ngIf="showImage">
    <br><br><br><br>
</span>