<section>
    <div class="mdl-grid mdl-cell--12-col-desktop">
        <form [formGroup]="myFormRoute">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="name" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Nombre</label>
            </div>
            <br>
            <div class="mdl-grid mdl-cell--order-2-phone">
                <div class="mdl-cell--4-col-desktop">
                    <div class="mdl-card__title">
                        <p>Tramos de la Ruta</p>
                    </div>
                    <span *ngFor="let selectedRoute of routesSelected">
                    <span id="divSelectedRoutes" #divCatalogSelected class="mdl-card__supporting-text">
                        <label  class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" class="mdl-checkbox__input" (click)="selectedCheck(selectedRoute,'routesSelected','routes');">
                            <span class="mdl-checkbox__label">{{selectedRoute.name}}</span>
                        </label>
                    </span>
                </span>
                </div>
                <div class="mdl-cell--4-col-desktop">
                    <div class="mdl-card__title">
                        <p>Tramos de Catalogo</p>
                    </div>
                    <span *ngFor="let route of routes" #divCatalog>
                    <span id="divSelectedStretches"  class="mdl-card__supporting-text" #catalog>
                        <label  class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" class="mdl-checkbox__input" (click)="selectedCheck(route,'routes','routesSelected');">
                            <span class="mdl-checkbox__label">{{route.name}}</span>
                        </label>
                    </span>
                </span>
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="distance" class="mdl-textfield__input" type="number">
                <label class="mdl-textfield__label">Kilomentros</label>
            </div>
            <div class="button-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
                  mdl-color--red-A700 mdl-color-text--white" routerLink="/home">
                    Cancelar
                </button>
                <button (click)="onSubmit()" 
                [ngClass]="{'mdl-color--light-blue-A700 mdl-color-text--white' : (!myFormRoute.invalid)}"
                    [disabled]="myFormRoute.invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</section>
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Datos guardados </h4>
    <div class="mdl-dialog__content">
        <p>
            ¿Deseas guardar otro registro?
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="nuevoRegistro()">Si</button>
        <button type="button" class="mdl-button" (click)="cancelarAlta()">No</button>
    </div>
</dialog>
<span *ngIf="showImage">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
</span>