<section>
    <div class="mdl-grid">
        <form [formGroup]="myForm" >
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="origin" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Origen</label>
            </div>
            <div style="color:red" *ngIf="myForm.get('origin').hasError('required') && myForm.get('origin').dirty">
                Campo requerido
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="destination" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Destino</label>
            </div>
            <div style="color:red" *ngIf="myForm.get('destination').hasError('required') && myForm.get('destination').dirty">
                Campo requerido
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="km" class="mdl-textfield__input" type="text">
                <label class="mdl-textfield__label">Kilómetros</label>
            </div>
            <div style="color:red" *ngIf="myForm.get('km').hasError('required') && myForm.get('km').dirty">
                Campo requerido
            </div>
            <br />
            <div class="button-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
          mdl-color--red-A700 mdl-color-text--white">
                    Cancelar
                </button>
                <button 
                    (click)="onSubmit()" 
                    [disabled]="myForm.invalid"
                    [ngClass] = "{'mdl-color--light-blue-A700 mdl-color-text--white' : (!myForm.invalid)}" 
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</section>
<span *ngIf="showImage">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</span>