<section>
        <form [formGroup]="myForm">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input formControlName="rs" class="mdl-textfield__input" type="text" id="rs" autocomplete="off">
                <label class="mdl-textfield__label" for="rs">Razón Social</label>
            </div>
            <div *ngIf="myForm.get('rs').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rfc">
                <input formControlName="rfc" class="mdl-textfield__input" type="text" id="rfc" autocomplete="off">
                <label class="mdl-textfield__label" for="rfc">RFC</label>
            </div>
            <div *ngIf="myForm.get('rfc').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label df">
                <input formControlName="df" class="mdl-textfield__input" type="text" id="df" autocomplete="off">
                <label class="mdl-textfield__label" for="df">Dirección Fiscal</label>
            </div>
            <div *ngIf="myForm.get('df').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label do">
                <input formControlName="do" class="mdl-textfield__input" type="text" id="do" autocomplete="off">
                <label class="mdl-textfield__label" for="do">Dirección Oficina</label>
            </div>
            <div *ngIf="myForm.get('do').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cp">
                <input formControlName="cp" class="mdl-textfield__input" type="text" id="cp" autocomplete="off">
                <label class="mdl-textfield__label" for="cp">Contacto Principal</label>
            </div>
            <div *ngIf="myForm.get('cp').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ccpp">
                <input formControlName="ccpp" class="mdl-textfield__input" type="text" id="ccpp" autocomplete="off">
                <label class="mdl-textfield__label" for="ccpp">Contacto Cuenta Por Pagar</label>
            </div>
            <div *ngIf="myForm.get('ccpp').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cpdf">
                <input class="mdl-textfield__input" placeholder="Proceso de Cobro" type="text" readonly />
            </div>
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i><input type="file" style="opacity: 0"/>
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cpdf">
                <input class="mdl-textfield__input" placeholder="Contrato PDF" type="text" id="uploadFile" accept="application/pdf"
                    readonly />
            </div>
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i><input type="file" id="uploadBtn" style="opacity: 0" accept="application/pdf" />
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dc">
                <input formControlName="dc" class="mdl-textfield__input" type="text" id="dc" autocomplete="off">
                <label class="mdl-textfield__label" for="dc">Días de Crédito</label>
                <span class="mdl-textfield__error">Inserte solo números</span>
            </div>
            <div *ngIf="myForm.get('dc').hasError('required') && myForm.dirty">
                Por favor llene el campo
            </div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label obs">
                <textarea class="mdl-textfield__input" type="text" id="obs"></textarea>
                <label class="mdl-textfield__label" for="obs">Observaciones</label>
            </div>
            <div class="button-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
              mdl-color--red-A700 mdl-color-text--white">
                    Cancelar
                </button>
                <button (click)="onSubmit()" [disabled]="myForm.invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
              mdl-color--light-blue-A700 mdl-color-text--white">
                    Guardar
                </button>
            </div>
        </form>
</section>