<div class="mdl-grid">
  <div class="fadeIn animated mdl-cell mdl-cell--5-col">
    <form [formGroup]="myForm" autocomplete="nope">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rs">
        <input formControlName="businessName" class="mdl-textfield__input" type="text" id="businessName" autocomplete="nope">
        <label class="mdl-textfield__label" for="businessName">Razón Social</label>
      </div>
      <div style="color:red" *ngIf="myForm.get('businessName').hasError('required') && myForm.get('businessName').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rfc">
        <input formControlName="RFC" class="mdl-textfield__input" type="text" id="RFC" autocomplete="nope">
        <label class="mdl-textfield__label" for="RFC">RFC</label>
      </div>
      <div style="color:red" *ngIf="myForm.get('RFC').hasError('required') && myForm.get('RFC').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label df">
        <input formControlName="fiscalAddress" class="mdl-textfield__input" type="text" id="fiscalAddress" autocomplete="nope">
        <label class="mdl-textfield__label" for="fiscalAddress">Dirección Fiscal</label>
      </div>
      <div style="color:red" *ngIf="myForm.get('fiscalAddress').hasError('required') && myForm.get('fiscalAddress').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label do">
        <input formControlName="officeAddress" class="mdl-textfield__input" type="text" id="officeAddress" autocomplete="nope">
        <label class="mdl-textfield__label" for="officeAddress">Dirección Oficina</label>
      </div>
      <div style="color:red" *ngIf="myForm.get('officeAddress').hasError('required') && myForm.get('officeAddress').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cp">
        <input formControlName="personalContact" class="mdl-textfield__input" type="text" id="personalContact" autocomplete="nope">
        <label class="mdl-textfield__label" for="personalContact">Contacto Principal</label>
      </div>
      <div style="color:red" *ngIf="myForm.get('personalContact').hasError('required') && myForm.get('personalContact').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ccpp">
        <input formControlName="contact" class="mdl-textfield__input" type="text" id="contact" autocomplete="nope">
        <label class="mdl-textfield__label" for="contact">Contacto Cuenta Por Pagar</label>
      </div>
      <div style="color:red" *ngIf="myForm.get('contact').hasError('required') && myForm.get('contact').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cpdf">
        <input class="mdl-textfield__input" placeholder="Contrato PDF" type="text" id="uploadFile" accept="application/pdf"
          readonly valid/>
      </div>
      <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file" [hidden]="isUploadingContract">
        <i class="material-icons">attach_file</i><input type="file" id="uploadBtn" style="opacity: 0" accept="application/pdf" (change) = "saveContract($event.target.files)" />
      </div>
      <div class="mdl-spinner mdl-js-spinner is-active" [hidden]="!isUploadingContract"></div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dc">
        <input formControlName="creditDays" class="mdl-textfield__input" type="number" id="creditDays" autocomplete="nope">
        <label class="mdl-textfield__label" for="creditDays">Días de Crédito</label>
        <span class="mdl-textfield__error">Inserte solo números</span>
      </div>
      <div style="color:red" *ngIf="myForm.get('creditDays').hasError('required') && myForm.get('creditDays').dirty">
        Por favor llene el campo
      </div>
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label obs">
        <textarea formControlName="details" class="mdl-textfield__input" type="text" id="details"></textarea>
        <label class="mdl-textfield__label" for="details">Observaciones</label>
      </div>
      <div class="button-container">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
        mdl-color--red-A700 mdl-color-text--white" routerLink="/home">
          Cancelar
        </button>
        <button (click)="onSubmit()" 
        [ngClass] = "{'mdl-color--light-blue-A700 mdl-color-text--white' : (!myForm.invalid && !isUploadingContract)}"
        [disabled]="myForm.invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <div id="viewer" class="" >
      <simple-pdf-viewer #pdfViewer></simple-pdf-viewer>
  </div>
</div>
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Datos guardados </h4>
  <div class="mdl-dialog__content">
      <p>
          ¿Deseas guardar otro registro?
      </p>
  </div>
  <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" (click)="nuevoRegistro()">Si</button>
      <button type="button" class="mdl-button" (click)="cancelarAlta()">No</button>
  </div>
</dialog>