
<section>
    <div class="mdl-grid">
        <form [formGroup]="myFormTraffic">
            <div class="mdl-cell--3-col-desktop">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" formControlName="provider" name="provider" class="mdl-textfield__input" id="provider" readonly>
                    <label forControlName="provider" class="mdl-textfield__label">Proveedor</label>
                    <ul for="provider"
                        class="mdl-menu mdl-menu--bottom-left mdl-js-menu" 
                        data-mdl-for="provider">
                        <li 
                            *ngFor="let provider of providersCatalog" 
                            class="mdl-menu__item"
                            (click)="selectCatalogItem(provider,'provider')">{{provider.name}}</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" formControlName="client" name="client" class="mdl-textfield__input" id="client" readonly>
                    <label forControlName="client" class="mdl-textfield__label">Cliente</label>
                    <ul for="client" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li 
                            *ngFor="let client of clientsCatalog"
                            class="mdl-menu__item"
                            (click)="selectCatalogItem(client,'client')">{{client.name}}</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" formControlName="route" class="mdl-textfield__input" id="route" readonly>
                    <input value="" type="hidden" name="route" />
                    <label forControlName="route" class="mdl-textfield__label">Ruta</label>
                    <ul for="route" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li 
                            *ngFor="let route of routesCatalog"
                            class="mdl-menu__item"
                            (click)="selectCatalogItem(route,'route')">{{route.name}}</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" formControlName="product" class="mdl-textfield__input" id="product" readonly>
                    <input value="" type="hidden" name="product" />
                    <label forControlName="product" class="mdl-textfield__label">Producto</label>
                    <ul for="product" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li 
                            *ngFor="let product of productsCatalog"
                            class="mdl-menu__item"
                            (click)="selectCatalogItem(product,'product')">{{product.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="mdl-grid mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col-desktop rs">
                    <input formControlName="tariffProvider" class="mdl-textfield__input" type="number">
                    <label class="mdl-textfield__label">Tarifa proveedor</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col-desktop mdl-cell--1-offset-desktop rs">
                    <input formControlName="tariffClient" class="mdl-textfield__input" type="number">
                    <label class="mdl-textfield__label">Tarifa cliente</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col-desktop mdl-cell--1-offset-desktop">
                    <input class="mdl-textfield__input" formControlName="utility" type="number">
                    <label class="mdl-textfield__label">Utilidad</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col-desktop mdl-cell--1-offset-desktop">
                    <input formControlName="accessories" class="mdl-textfield__input" type="number">
                    <label class="mdl-textfield__label">Accesorios</label>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input formControlName="factureProvider"class="mdl-textfield__input" type="number">
                    <label class="mdl-textfield__label">Factura proveedor</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-offset-desktop">
                    <input formControlName="factureFlamsa" class="mdl-textfield__input" type="number">
                    <label class="mdl-textfield__label">Factura FLAMSA</label>
                </div>
            </div>
            <div class="mdl-grid">
                <div id="dateCharge" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col-desktop">
                    <input formControlName="loadDate" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label">Fecha de carga</label>
                </div>
                <div *ngIf="showTooltip" class="mdl-tooltip mdl-tooltip--large" for="dateCharge">
                    Fecha de carga
                </div>
                <div id="documentDate" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col-desktop mdl-cell--1-offset-desktop">
                    <input formControlName="documentsDate" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label">Fecha de documentos</label>
                </div>
                <div *ngIf="showTooltip" class="mdl-tooltip mdl-tooltip--large" for="documentDate">
                    Fecha de documentos
                </div>
                <div id="payDate" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col-desktop mdl-cell--1-offset-desktop">
                    <input formControlName="billDate" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label">Fecha de cobro</label>
                </div>
                <div *ngIf="showTooltip" class="mdl-tooltip mdl-tooltip--large" for="payDate">
                    Fecha de cobro
                </div>
                <div id="payProvider" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col-desktop mdl-cell--1-offset-desktop">
                    <input formControlName="providerPayDate" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label">Fecha pago proveedor</label>
                </div>
                <div *ngIf="showTooltip" class="mdl-tooltip mdl-tooltip--large" for="payProvider">
                    Fecha pago proveedor
                </div>
                <div id="payFLamsa" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--1-col-desktop mdl-cell--1-offset-desktop">
                    <input formControlName="flamsaPayDate" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label">Fecha pago FLAMSA</label>
                </div>
                <div *ngIf="showTooltip" class="mdl-tooltip mdl-tooltip--large" for="payFLamsa">
                    Fecha pago FLAMSA
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label obs">
                <textarea formControlName="observations"  class="mdl-textfield__input" type="text" id="obs"></textarea>
                <label class="mdl-textfield__label" for="obs">Observaciones</label>
            </div>
            <div class="button-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
                mdl-color--red-A700 mdl-color-text--white" routerLink="/home">
                    Cancelar
                </button>
                <button 
                (click)="onSubmit('guardado')" 
                [disabled]="myFormTraffic.invalid"
                [ngClass] = "{'mdl-color--light-blue-A700 mdl-color-text--white' : (!myFormTraffic.invalid)}" 
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Guardar
                </button>
                <button 
                (click)="onSubmit('finalizado')" 
                [disabled]="myFormTraffic.invalid"
                [ngClass] = "{'mdl-color--green-700 mdl-color-text--white' : (!myFormTraffic.invalid)}"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    style="margin-left: 3%">
                    Finalizar
                </button>
            </div>
        </form>
    </div>
</section>
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Datos guardados </h4>
    <div class="mdl-dialog__content">
        <p>
            ¿Deseas guardar otro registro?
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="nuevoRegistro()">Si</button>
        <button type="button" class="mdl-button" (click)="cancelarAlta()">No</button>
    </div>
</dialog>