<style>
    table{
        width: 50%;
        text-align: center;
    }
</style>
<section>
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.provider" class="mdl-textfield__input" type="text" id="provider">
            <label class="mdl-textfield__label" for="provider">Proveedor</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.client" class="mdl-textfield__input" type="text" id="client">
            <label class="mdl-textfield__label" for="client">Cliente</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.product" class="mdl-textfield__input" type="text" id="product">
            <label class="mdl-textfield__label" for="product">Producto</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.route" class="mdl-textfield__input" type="text" id="route">
            <label class="mdl-textfield__label" for="route">Ruta</label>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.user" class="mdl-textfield__input" type="text" id="user">
            <label class="mdl-textfield__label" for="user">Usuario</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.bill_flamsa" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="bill_flamsa">
            <label class="mdl-textfield__label" for="bill_flamsa">Factura Flamsa</label>
            <span class="mdl-textfield__error">Escribe solo numeros</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input [(ngModel)]="searchObject.bill_provider" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="bill_provider">
            <label class="mdl-textfield__label" for="bill_provider">Factura Proveedor</label>
            <span class="mdl-textfield__error">Escribe solo numeros</span>
        </div>
    </div>
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" 
        (click)="buscar();">
            Iniciar busqueda
        </button>
        <div *ngIf="totalContractsIsEmpty" >
            <span style="color:red">Debe introducir texto en un campo</span>
        </div>
    </div>
    <div class="mdl-grid">
        <div id="p2" [hidden]="!searching" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div [hidden]="results.length" class="mdl-cell mdl-cell--12-col">
        <img src="../scripts/assets/no_users_found.png" class="mdl-cell--5-offset">
        <p class="mdl-cell--4-offset">No hay nada que mostrar, por favor, realiza una nueva b&uacute;squeda</p>
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset" [hidden]="!results.length">
            
            <table id="table_results" class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Usuario</th>
                        <th class="mdl-data-table__cell--non-numeric">Proveedor</th>
                        <th class="mdl-data-table__cell--non-numeric">Cliente</th>
                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                        <th class="mdl-data-table__cell--non-numeric">Ruta</th>
                        <th class="mdl-data-table__cell--non-numeric">Estatus</th>
                        <th>Factura Flamsa</th>
                        <th>Factura Provedor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of results" (click)="selectedResult(result);">
                        <td>{{result.creationUser.name | uppercase }}</td>
                        <td>{{result.provider.businessName | uppercase }}</td>
                        <td>{{result.client.name | uppercase }}</td>
                        <td>{{result.product.name | uppercase }}</td>
                        <td>{{result.route.name | uppercase }}</td>
                        <td>{{result.status | uppercase }}</td>
                        <td>{{result.flamsaBill}}</td>
                        <td>{{result.providerBill}}</td>
                        <td>
                            <div class="mdl-cell mdl-cell--2-col">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--red-A700 mdl-color-text--white mdl-js-ripple-effect">
                                    Eliminar
                                </button>
                                <button *ngIf="result.status == 'guardado'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--light-blue-A700 mdl-color-text--white">
                                    Modificar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>