<style>
    table{
        width: 50%;
        text-align: center;
    }
</style>
<section>
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input #id class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="ID">
            <label class="mdl-textfield__label" for="ID">Id</label>
            <span class="mdl-textfield__error">Escribe solo numeros</span>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #provider class="mdl-textfield__input" type="text" id="provider">
            <label class="mdl-textfield__label" for="provider">Proveedor</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #client class="mdl-textfield__input" type="text" id="client">
            <label class="mdl-textfield__label" for="client">Cliente</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #product class="mdl-textfield__input" type="text" id="product">
            <label class="mdl-textfield__label" for="product">Producto</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #route class="mdl-textfield__input" type="text" id="route">
            <label class="mdl-textfield__label" for="route">Ruta</label>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #user class="mdl-textfield__input" type="text" id="user">
            <label class="mdl-textfield__label" for="user">Usuario</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #bill_flamsa class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="bill_flamsa">
            <label class="mdl-textfield__label" for="bill_flamsa">Factura Flamsa</label>
            <span class="mdl-textfield__error">Escribe solo numeros</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
            <input #bill_provider class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="bill_provider">
            <label class="mdl-textfield__label" for="bill_provider">Factura Proveedor</label>
            <span class="mdl-textfield__error">Escribe solo numeros</span>
        </div>
    </div>
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="buscar(id.value, provider.value, client.value, product.value, route.value, user.value, bill_flamsa.value, bill_provider.value);">
            Iniciar busqueda
        </button>
        <div *ngIf="totalContractsIsEmpty" >
            <span style="color:red">Debe introducir texto en un campo</span>
        </div>
    </div>
    <hr>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
            <table id="table_results" class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Usuario</th>
                        <th class="mdl-data-table__cell--non-numeric">Proveedor</th>
                        <th class="mdl-data-table__cell--non-numeric">Cliente</th>
                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                        <th class="mdl-data-table__cell--non-numeric">Ruta</th>
                        <th class="mdl-data-table__cell--non-numeric">Estatus</th>
                        <th>Factura Flamsa</th>
                        <th>Factura Provedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of results" (click)="selectedResult(result);">
                        <td>{{result.user}}</td>
                        <td>{{result.provider}}</td>
                        <td>{{result.client}}</td>
                        <td>{{result.product}}</td>
                        <td>{{result.route}}</td>
                        <td>{{result.status}}</td>
                        <td>{{result.bill_flamsa}}</td>
                        <td>{{result.bill_provider}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="selectedContract" class="mdl-cell mdl-cell--2-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--red-A700 mdl-color-text--white mdl-js-ripple-effect">
                Eliminar
            </button>
            <button *ngIf="saveContract" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--light-blue-A700 mdl-color-text--white">
                Modificar
            </button>
        </div>
    </div>
</section>